In [1]:
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor

In [2]:
df = pd.read_csv('data/full_features.csv')
data = df.copy()
df.isna().sum()

device_id              0
timestamp              0
lat_long               0
value                  0
pv_output          51572
solar_radiation    51572
temperature        51575
Precip             44963
humidity           44963
day_of_week            0
working_day            0
week_of_month          0
holiday                0
dtype: int64

In [3]:
poweru_df = data[data['device_id'] == 'poweru']
poweru_df = poweru_df.drop(['device_id'], axis = 1)
poweru_df

In [9]:
poweru_df.isna().sum()

timestamp          0
lat_long           0
value              0
pv_output          0
solar_radiation    0
temperature        0
Precip             0
humidity           0
day_of_week        0
working_day        0
week_of_month      0
holiday            0
dtype: int64

In [5]:
poweru_df.columns

Index(['timestamp', 'lat_long', 'value', 'pv_output', 'solar_radiation',
       'temperature', 'Precip', 'humidity', 'day_of_week', 'working_day',
       'week_of_month', 'holiday'],
      dtype='object')

In [6]:
imp = IterativeImputer(estimator=ExtraTreesRegressor(), random_state = 0)
missing_column = ['pv_output', 'solar_radiation','temperature', 'Precip', 'humidity']
imp.fit(poweru_df[missing_column])

c:\Users\PC\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\impute\_iterative.py:699: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

IterativeImputer(estimator=ExtraTreesRegressor(), random_state=0)

In [7]:
poweru_df[missing_column] = imp.transform(poweru_df[missing_column])

In [8]:
poweru_df

,timestamp,lat_long,value,pv_output,solar_radiation,temperature,Precip,humidity,day_of_week,working_day,week_of_month,holiday
61286,2021-10-04 15:17:15,34.7037561598_137.3584203017,530.5,16.780841,191.315476,11.397489,0.021709,67.939872,0,1,1,0
61287,2021-10-04 15:19:37,34.7037561598_137.3584203017,543.0,16.780841,191.315476,11.397489,0.021709,67.939872,0,1,1,0
61288,2021-10-04 15:29:38,34.7037561598_137.3584203017,520.7,16.780841,191.315476,11.397489,0.021709,67.939872,0,1,1,0
61289,2021-10-04 15:31:33,34.7037561598_137.3584203017,520.7,16.780841,191.315476,11.397489,0.021709,67.939872,0,1,1,0
61290,2021-10-04 15:39:38,34.7037561598_137.3584203017,491.5,16.780841,191.315476,11.397489,0.021709,67.939872,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
87835,2022-04-17 23:18:50,34.7037561598_137.3584203017,194.3,0.000000,0.000000,13.560000,0.038462,84.923077,6,0,3,0
87836,2022-04-17 23:28:50,34.7037561598_137.3584203017,181.8,0.000000,0.000000,13.560000,0.038462,84.923077,6,0,3,0
87837,2022-04-17 23:38:50,34.7037561598_137.3584203017,209.7,0.000000,0.000000,13.560000,0.038462,84.923077,6,0,3,0
87838,2022-04-17 23:48:50,34.7037561598_137.3584203017,209.7,0.000000,0.000000,13.560000,0.038462,84.923077,6,0,3,0
87839,2022-04-17 23:58:50,34.7037561598_137.3584203017,209.7,0.000000,0.000000,13.560000,0.038462,84.923077,6,0,3,0